<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActivitiyDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B437F011D1244AD0057B846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B437F151D1244AD0057B846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B437F201D1244AD0057B846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
